<ion-header>
  <ion-toolbar>
    <ion-title>
      Nouvelle commande
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="form">
    <ion-item>
      <ion-label>Produit</ion-label>
      <ion-select placeholder="Select One" (ionChange)=updateSelect($event)>
        <ion-select-option value="doliprane">Doliprane</ion-select-option>
        <ion-select-option value="smecta">Smecta</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="quantity">
      <ion-label>Nombre d'unités</ion-label>
      <input [(ngModel)]="quantity" type="number" class="custom-input">
    </ion-item>
    <ion-item>
      <ion-label position="floating">Commentaire</ion-label>
      <ion-textarea [(ngModel)]="commentary"></ion-textarea>
    </ion-item>
  </div>
  <ion-buttons class="buttons-container">
    <button class="validate" (click)="sendPurchase()">valider</button>
    <button class="cancel" (click)="closeModal()">Annuler</button>
  </ion-buttons>
</ion-content>