.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

ion-item{
    margin-bottom: 5%;
}

button{
    display: block;
    height:40px;
    width: 50%;
    border-radius: 3px;
    margin-bottom: 20px;
}
.validate{
    background-color: #55efc4;
}

.cancel{
    background-color: #ff7675;
}



input {
    border: none;
    text-align: right;
    outline: none;
    ::-webkit-input-placeholder {
       text-align: right;
    }
    }
