<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Calculatrice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Pharmacies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
