.icon{
    margin-top : 2%;
}

.no-pharmacies{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.text-wrapper{
    width: 100%;
    margin:auto;
    font-size:15px;
    color: #747d8c;
    text-align: center;
vertical-align: middle;
}
.no-pharmacy-icon{
    display: block;
    font-size: 50px;
    margin: auto;
    margin-top: 3%;
    color: #8c93a0;
}
