<ion-header>
  <ion-toolbar>
    <ion-title>
      Pharmacies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="no-pharmacies" *ngIf="nearByPharmacies.length === 0">
    <div class="text-wrapper">
      Aucunes pharmacies autour de vous, vous pouvez augmentez le rayon de recherche dans vos réglages
      <ion-icon class="no-pharmacy-icon" name="alert"></ion-icon>
    </div>
  </div>
  <div *ngIf="nearByPharmacies.length > 0">
    <ion-card *ngFor="let pharmacy of nearByPharmacies; let index = index" (click)="navigateToPharmacyDetails(index)"
      routerDirection="forward">
      <ion-card-header>
        <ion-card-title>{{pharmacy.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{pharmacy.adress}}
        <br>
        <ion-icon name="walk" class="icon"></ion-icon> {{pharmacy.distanceToWalk}} minutes environ
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>