<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculatrice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <button class="back-button" *ngIf="pageOpen !== 0" (click)="closeCalculator()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </button>
  <div class="button-menu" *ngIf="pageOpen === 0">
    <ion-button color="primary" (click)="openCalculator(1)">Prix d'achat net</ion-button>
    <ion-button color="primary" (click)="openCalculator(2)">Taux de remise</ion-button>
    <ion-button color="primary" (click)="openCalculator(3)">Prix de vente net</ion-button>
    <ion-button color="primary" (click)="openCalculator(4)">Coefficient multiplicateur</ion-button>
  </div>
  <div class="page-wrapper" *ngIf="pageOpen !== 0">
    <div *ngIf="pageOpen===1">
      <ion-label>Prix d'achat brut</ion-label>
      <ion-input type="text" [(ngModel)]="brutPurchasePrice"  (ngModelChange)="modelChanged(1)" name="title" class="spacer"></ion-input>
      <ion-label>Taux de remise</ion-label>
      <ion-input [(ngModel)]="discountRate" (ngModelChange)="modelChanged(1)" name="description" class="spacer"></ion-input>
      <ion-label>Total</ion-label>
      <ion-textarea [(ngModel)]="total" name="description"></ion-textarea>
    </div>
    <div *ngIf="pageOpen===2">
        <ion-label>Prix d'achat net</ion-label>
        <ion-input type="text" [(ngModel)]="netPurchasePrice"  (ngModelChange)="modelChanged(2)" name="title" class="spacer"></ion-input>
        <ion-label>Prix d'achat brut</ion-label>
        <ion-input [(ngModel)]="brutPurchasePrice" (ngModelChange)="modelChanged(2)" name="description" class="spacer"></ion-input>
        <ion-label>Total</ion-label>
        <ion-textarea [(ngModel)]="total" name="description"></ion-textarea>
    </div>
    <div *ngIf="pageOpen===3">
        <ion-label>Prix d'achat net</ion-label>
        <ion-input type="text" [(ngModel)]="netPurchasePrice"  (ngModelChange)="modelChanged(3)" name="title" class="spacer"></ion-input>
        <ion-label>Facteur Multiplicateur</ion-label>
        <ion-input [(ngModel)]="multiplyingFactor" (ngModelChange)="modelChanged(3)" name="description" class="spacer"></ion-input>
        <ion-label>Total</ion-label>
        <ion-textarea [(ngModel)]="total" name="description"></ion-textarea>
    </div>
    <div *ngIf="pageOpen===4">
        <ion-label>Prix de vente net</ion-label>
        <ion-input type="text" [(ngModel)]="netSellPrice"  (ngModelChange)="modelChanged(4)" name="title" class="spacer"></ion-input>
        <ion-label>Prix d'achat net</ion-label>
        <ion-input [(ngModel)]="netPurchasePrice" (ngModelChange)="modelChanged(4)" name="description" class="spacer"></ion-input>
        <ion-label>Total</ion-label>
        <ion-textarea [(ngModel)]="total" name="description"></ion-textarea>
    </div> 
  </div>
</ion-content>