.page-wrapper{
  margin-top : 10%;
  margin-left:20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: #515A5A ;
}
.button-menu{
  margin-top:15%;;
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left:5%;
}
.spacer{
  margin-bottom: 10%;
}
.back-button{
  background-color: white;
  width:50px;
  height:50px;
}
ion-icon{
  font-size:30px;
}

ion-input{
  margin-top:1%;
  width:50%;
  border: 1px solid #76D7C4;
  border-radius:10px;
  padding-left: 15px;

}
