<ion-header>
  <ion-toolbar>
    <ion-title>
      Preférences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Distance</ion-label>
        <ion-select multiple="false" cancelText="Annuler" [placeholder]="geolocationDistance" (ionChange)="updateDistance($event)" okText="Valider">
          <ion-select-option value="100">100 m</ion-select-option>
          <ion-select-option value="200">200 m</ion-select-option>
          <ion-select-option value="500">500 m</ion-select-option>
          <ion-select-option value="1000">1 km</ion-select-option>
        </ion-select>
      </ion-item>
</ion-content>
