.page-wrapper{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.page-header{
    width: 100%;
    height: 30%;
    display: flex;
    background-color : #747d8c;
}
.page-body{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
button{
    background: none !important;
    background-color: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

  ion-icon{
      font-size : 20px;
  }