<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pharmacy.name}}</ion-title>
    <ion-buttons slot="end">
        <button (click)="openFormModal()">
            <ion-icon name="cart"></ion-icon>
          </button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-wrapper">
    <div class="page-header">
      <img src="assets/images/pharmacy.jpg" alt="">
    </div>
    <div class="page-body">
      <h1>Informations Supplémentaires</h1>
      <p>nom du gérant : {{pharmacy.owner}}</p>
      <h2>Dernières commandes : </h2>
      <p>Produit 1 : 1293</p>
      <p>Produit 2 : 49</p>
      <p>Produit 1 : 68</p>
    </div>

  </div>
</ion-content>